html,
body,
.grid-container {
  height: 100%;
  margin: 0;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 1.8fr 0.4fr;
      grid-template-columns: 0.8fr 1.8fr 0.4fr;
  -ms-grid-rows: 1.8fr 0.2fr;
      grid-template-rows: 1.8fr 0.2fr;
  gap: 0px 0px;
      grid-template-areas: ". board .";
  position: relative;
}

.board {
  display: -ms-grid;
  display: grid;
  grid-template: 210px 126px 15 210px 126px;
  gap: 0px 0px;
      grid-template-areas: "base-red arm-2 base-yellow" "arm-1 home arm-3" "base-blue arm-4 base-green";
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: board;
  position: relative;
  aspect-ratio: 1/1;
  height: 100vh;
}

.base-red {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: base-red;
}

.base-yellow {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: base-yellow;
}

.base-blue {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: base-blue;
}

.base-green {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: base-green;
}

.arm-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (42px)[3];
  -ms-grid-columns: (42px)[5];
      grid-template: repeat(3, 42px)/repeat(5, 42px);
  gap: 0px 0px;
      grid-template-areas: ". . . . ." ". home-red home-red home-red home-red" ". . . . .";
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: arm-1;
}

.arm-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (42px)[3];
  -ms-grid-columns: (42px)[5];
      grid-template: repeat(3, 42px)/repeat(5, 42px);
  gap: 0px 0px;
      grid-template-areas: ". . . . ." "home-green home-green home-green home-green ." ". . . . .";
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: arm-3;
}

.arm-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (42px)[5];
  -ms-grid-columns: (42px)[3];
      grid-template: repeat(5, 42px)/repeat(3, 42px);
  gap: 0px 0px;
      grid-template-areas: ". . ." ". home-yellow ." ". home-yellow ." ". home-yellow ." ". home-yellow .";
  grid-auto-flow: column;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: arm-2;
}

.arm-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (42px)[5];
  -ms-grid-columns: (42px)[3];
      grid-template: repeat(5, 42px)/repeat(3, 42px);
  gap: 0px 0px;
      grid-template-areas: ". home-blue ." ". home-blue ." ". home-blue ." ". home-blue ." ". . .";
  grid-auto-flow: column;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: arm-4;
}

.home-red {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 42px;
  -ms-grid-columns: (42px)[4];
      grid-template: 42px/repeat(4, 42px);
  gap: 0px 0px;
      grid-template-areas: ". . . .";
  grid-auto-flow: row;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: home-red;
}

.home-green {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 42px;
  -ms-grid-columns: (42px)[4];
      grid-template: 42px/repeat(4, 42px);
  gap: 0px 0px;
      grid-template-areas: ". . . .";
  grid-auto-flow: row;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: home-green;
}

.home-yellow {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (42px)[4];
  -ms-grid-columns: 42px;
      grid-template: repeat(4, 42px)/42px;
  gap: 0px 0px;
      grid-template-areas: "." "." "." ".";
  grid-auto-flow: column;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: home-yellow;
}

.home-blue {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (42px)[4];
  -ms-grid-columns: 42px;
      grid-template: repeat(4, 42px)/42px;
  gap: 0px 0px;
      grid-template-areas: "." "." "." ".";
  grid-auto-flow: column;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: home-blue;
}

.home {
  display: -ms-grid;
  display: grid;
  grid-template: 1;
  gap: 0px 0px;
      grid-template-areas: ".";
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: home;
}

.space {
  display: block;
  height: auto;
  background: center / contain no-repeat;
  margin: 0;
  border: 1px solid;
  height: 40px;
  width: 40px;
}

.space.path {
  background-color: #e7e5db;
  border-color: grey;
}

.space[class*="red"] {
  background-color: rgba(252, 72, 72, 0.774);
  border-color: #b30000;
}

.space[class*="green"] {
  background-color: rgba(252, 72, 72, 0.774);
  border-color: #b30000;
}

.space[class*="blue"] {
  background-color: rgba(252, 72, 72, 0.774);
  border-color: #b30000;
}

.space[class*="yellow"] {
  background-color: rgba(252, 72, 72, 0.774);
  border-color: #b30000;
}

/* --- Modal Animation src: https://codepen.io/ainalem/pen/RqYZNO --- */
.roll-dice {
  background: #dedbdf;
  border-radius: 16px;
  position: relative;
  width: 10em;
  height: 10em;
  -webkit-transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1), height 300ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1), height 300ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1), height 300ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1), height 300ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.roll-dice input {
  display: none;
}

.roll-dice .btn-group {
  margin: 4px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.roll-dice :not(.expand) {
  cursor: pointer;
}

.roll-dice #collapsed {
  -webkit-transition: opacity 200ms 100ms cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 200ms 100ms cubic-bezier(0, 0, 0.2, 1);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 70%;
  max-height: 70%;
  background-color: #b30000;
  z-index: 1;
}

.roll-dice #rollTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 32px;
  margin-left: 10px;
}

.roll-dice #expanded {
  opacity: 0;
  -webkit-transition: opacity 100ms cubic-bezier(0.4, 0, 1, 1);
  transition: opacity 100ms cubic-bezier(0.4, 0, 1, 1);
  height: 100%;
}

.roll-dice #header {
  -webkit-transform: scale(0.55);
          transform: scale(0.55);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.roll-dice .headerTxt {
  background: #6422eb;
  -webkit-transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #efd8ef;
  font-size: 16px;
}

.roll-dice #content {
  background: #fff;
  color: #444247;
  font-size: 14px;
  padding: 5px;
  width: 100%;
}

.expand.roll-dice {
  border-radius: 6px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.16);
}

.expand #collapsed {
  opacity: 0;
  -webkit-transition: opacity 100ms cubic-bezier(0.4, 0, 1, 1);
  transition: opacity 100ms cubic-bezier(0.4, 0, 1, 1);
  display: none;
}

.expand #rollTxt {
  -webkit-transform: scale(1.91);
          transform: scale(1.91);
}

.expand #expanded {
  opacity: 1;
  -webkit-transition: opacity 200ms 100ms cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 200ms 100ms cubic-bezier(0, 0, 0.2, 1);
}

.expand #header {
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=grid.css.map */