/* Board spaces */

#board {
    width: 90%; /* divisible by 3 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90vw
}

.space {
  float: center;
  height: auto;
  background: #E7E5DB;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  border-style: solid;

  /* limiting to 3 squares per row https://stackoverflow.com/a/48464559*/
  flex:0 0 10%
}

/* source: https://carlanderson.xyz/how-to-keep-your-flexbox-square/ */
.space:before{
  content: '';
    display: block;
    padding-top: 100%;
}